body {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.header-div {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    /* margin-top: 1rem; */
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: #1c305c;
    /* padding: 0.5rem; */
    width: 100%;
}

.search-bar-btn-div{
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: space-around;
}

.heading-div {
    width: fit-content;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.add-customer-div {
    text-align: center;
    align-items: center;
    width: fit-content;
    margin: 1rem 1rem;
}

.new-customer-btn{
    background-color: #D2F0FC;
    border: none;
    border-radius: 5px;
    color: black;
    width: fit-content;
    height: 5vh;
}

.new-customer-btn:hover{
    transition-duration: 1s;
    zoom: 103%;
}

.table-row {
    transition: 0.3s;
    opacity: 0.7;
}

.table-row:hover {
    opacity: 1;
    cursor: pointer;
    /* zoom: 105%; */
}

.view-btn{
    background-color: #D2F0FC;
    border: none;
    border-radius: 5px;
    color: black;
    width: 3.5vw;
    height: 4vh;
}

.name-mobile-div{
    display: flex;
}

.table-size-number-div{
    display: flex;
}

.date-time-div{
    display: flex;
}

.form-input-div {
    width: 60%;
    margin: 1rem;
    border-radius: 5px;
}

.customer-form{
    width: 30%;
    height: fit-content;
    margin: 0 auto;
    position: absolute;
    top: 22vh;
    left: 35vw;
    /* bottom: 50%; */
    background-color:#D2F0FC;
    display: none;
    z-index: 1;
    padding: 1rem 2rem;
    border-radius: 5px;
    box-shadow: -3px 3px 10px;
}

.save-btn{
    width: fit-content;
    margin: 0 auto;
}

.form-close-btn-div{
    position: relative;
    display: flex;
    align-items: center;
    left: 95%;
    top: 20%;
    width: fit-content;
    height: 3vh;

    :hover{
        transition: 2ms;
        cursor: pointer;
        zoom: 110%;
    }
}

.pagination-div{
    width: 20%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}