body {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.order-header-div {
    text-align: center;
    align-items: center;
    justify-content: center;
    /* margin-top: 1rem; */
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: #1c305c;
    padding: 0.5rem;
}

.heading-div {
    width: fit-content;
    margin: 0 auto;
    display: inline-block;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.add-order-div {
    text-align: center;
    align-items: center;
    position: absolute;
    right: 2rem;
    width: fit-content;
    display: inline-block;
    margin: 1rem 1rem;
}

.new-order-btn {
    background-color: #D2F0FC;
    border: none;
    border-radius: 5px;
    color: black;
    width: fit-content;
    height: 5vh;
}

.back-btn-div {
    text-align: center;
    align-items: center;
    position: absolute;
    left: 2rem;
    width: fit-content;
    display: inline-block;
    margin: 1rem 1rem;
}

.back-btn {
    background-color: #D2F0FC;
    border: none;
    border-radius: 5px;
    color: black;
    width: 5vw;
    height: 5vh;
}

.new-order-btn:hover {
    transition-duration: 1s;
    zoom: 103%;
}

.table-row {
    transition: 0.3s;
    opacity: 0.7;
}

.table-row:hover {
    opacity: 1;
    cursor: pointer;
    /* zoom: 105%; */
}

.remove-btn {
    background-color: #D2F0FC;
    border: none;
    border-radius: 5px;
    color: black;
    width: fit-content;
    height: 4vh;
}

.item-qty-div {
    display: flex;
}

.select-item {
    cursor: pointer;
}

.form-input-div {
    width: 60%;
    margin: 1rem;
    border-radius: 5px;
}

.order-form-div {
    width: 30%;
    height: fit-content;
    margin: 0 auto;
    position: absolute;
    top: 22vh;
    left: 35vw;
    /* bottom: 50%; */
    background-color: #D2F0FC;
    display: none;
    z-index: 1;
    padding: 1rem 2rem;
    border-radius: 5px;
}

.order-btn {
    width: fit-content;
    margin: 0 auto;
}

.form-close-btn-div {
    position: relative;
    display: flex;
    align-items: center;
    left: 95%;
    top: 20%;
    width: fit-content;
    height: 3vh;

    :hover {
        transition: 2ms;
        cursor: pointer;
        zoom: 110%;
    }
}

.complete-order-btn-div {
    margin: 2rem auto;
    width: fit-content;
}

.complete-order-modal-div {
    width: 30%;
    height: fit-content;
    margin: 0 auto;
    position: absolute;
    top: 22vh;
    left: 35vw;
    /* bottom: 50%; */
    background-color: #D2F0FC;
    display: none;
    z-index: 1;
    padding: 1rem 2rem;
    border-radius: 5px;
    box-shadow: -2px 3px 10px;
}

.amount-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.payment-mode-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-input-div{
    margin: 1rem;
    justify-content: center;
    align-items: center;
}

/* .membership-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.membership-input-div{
    /* margin: 1rem; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.finish-order-btn-div{
    margin: 0.5rem auto;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.membership-input{
    margin: 1rem;
}

.payment-mode-bill-div{
    margin: 2rem auto;
    width: 15%;
    align-items: center;
    position: relative;
    left: 35%;
}

.bill-paid-div{
    display: none;
    margin: 1rem auto;
    width: 100%;
}


.bill-paid-data{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.bill-paid-data>p,strong{
    font-size: large;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}