body {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.header-div {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    /* margin-top: 1rem; */
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: #1c305c;
    /* padding: 0.5rem; */
}

.search-bar-btn-div{
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: space-around;
}

.heading-div {
    width: fit-content;
    margin: 0.3rem 25rem;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.pagination-div{
    width: 20%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.expense-date-div{
    width: 50%;
    margin: 2rem auto;
    text-align: center;
}

.expense-data-div{
    width: 100%;
    margin: 1rem auto;
    text-align: center;
}

.expense-table-div{
    margin: 3rem 0 0 0;
}

.form-input-div {
    width: 100%;
    margin: 1rem;
    border-radius: 5px;
}


.form-close-btn-div {
    position: relative;
    display: flex;
    align-items: center;
    left: 95%;
    top: 20%;
    width: fit-content;
    height: 3vh;

    :hover {
        transition: 2ms;
        cursor: pointer;
        zoom: 110%;
    }
}

.new-order-btn {
    background-color: #D2F0FC;
    border: none;
    border-radius: 5px;
    color: black;
    width: fit-content;
    height: 5vh;
}


.add-memship-form-div {
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    width: 23%;
    height: fit-content;
    margin: 0 auto;
    position: absolute;
    top: 22vh;
    left: 35vw;
    /* bottom: 50%; */
    background-color: #D2F0FC;
    display: none;
    z-index: 1;
    padding: 1rem 2rem;
    border-radius: 5px;
    box-shadow: -2px 2px 5px;
}

.memship-input-div{
    width: 90%;
}

.add-member-btn-div{
    width: fit-content;
    margin: 1rem auto;
}