body {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.header-div {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    /* margin-top: 1rem; */
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: #1c305c;
    padding: 0.5rem;
}

.search-bar-btn-div{
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: space-around;
}

.heading-div {
    width: fit-content;
    margin: 0 25rem;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.pagination-div{
    width: 20%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}