
.header-div {
    text-align: center;
    align-items: center;
    justify-content: center;
    /* margin-top: 1rem; */
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: #1c305c;
    padding: 0.5rem;
}

.heading-div {
    width: fit-content;
    margin: 0 auto;
    display: inline-block;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.form-close-btn-div {
    position: relative;
    display: flex;
    align-items: center;
    left: 95%;
    top: 20%;
    width: fit-content;
    height: 3vh;

    :hover {
        transition: 2ms;
        cursor: pointer;
        zoom: 110%;
    }
}

.edit-stock-div {
    text-align: center;
    align-items: center;
    position: absolute;
    left: 2rem;
    width: fit-content;
    display: inline-block;
    margin: 1rem 1rem;
}

.add-stock-div {
    text-align: center;
    align-items: center;
    position: absolute;
    right: 2rem;
    width: fit-content;
    display: inline-block;
    margin: 1rem 1rem;
}

.new-stock-btn {
    background-color: #D2F0FC;
    border: none;
    border-radius: 5px;
    color: black;
    width: fit-content;
    height: 5vh;
}

.edit-stock-form-div {
    width: 25%;
    height: fit-content;
    margin: 0 auto;
    position: absolute;
    top: 22vh;
    left: 40vw;
    /* bottom: 50%; */
    background-color: #D2F0FC;
    display: none;
    z-index: 1;
    padding: 1rem 2rem;
    border-radius: 5px;
}

.add-stock-form-div {
    width: 25%;
    height: fit-content;
    margin: 0 auto;
    position: absolute;
    top: 22vh;
    left: 35vw;
    /* bottom: 50%; */
    background-color: #D2F0FC;
    display: none;
    z-index: 1;
    padding: 1rem 2rem;
    border-radius: 5px;
}

.form-input-div {
    width: 90%;
    margin: 1rem;
    border-radius: 5px;
}

.item-qty-div {
    display: flex;
}

.sell-cost-div{
    display: flex;
}

.table-row {
    transition: 0.3s;
    opacity: 0.8;
}

.table-row:hover {
    opacity: 1;
    cursor: pointer;
    /* zoom: 105%; */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}